<app-menu></app-menu>
<form action="">
    <div style="width: 600px;text-align: center; margin-left: 25%; margin-right: 25%;">
       
       
        <h3 style="font-weight: bold; font-family: bookantiqua; color:green">Editar usuario</h3>
        
    <hr style="color: greenyellow;" />
        <div class="form-group">
            <label for="id" style="font-weight: bold;">Id:</label>
            <input [(ngModel)]="usuario.id"  type="text" class="form-control" id="id" name="id" disabled>
        </div>
        <div class="form-group">
            <label for="email" style="font-weight: bold;">Email:</label>
            <input [(ngModel)]="usuario.correo"  type="email" class="form-control" id="email" name="email" disabled>
          </div>
          <div class="form-group">
            <label for="pwd" style="font-weight: bold;">Contraseña:</label>
            <input [(ngModel)]="usuario.contra"  type="password" class="form-control" id="pwd" name="pwd">
          </div>

          <div class="form-group">
            <label for="selectrol">Rol:</label>
            <select class="form-control" [(ngModel)]="usuario.rol" id="selectrol" [ngModelOptions]="{standalone: true}">
                <option  [value]="0">
                    Seleccione un rol
                </option>
                <option *ngFor="let user of lUsers" [value]="user.id">
                    {{user.Name}}
                </option>
            </select>
          </div>
        
        
          <div class="row">
            <div class="col-sm-12 text-right">
                <button type="submit" class="btn btn-default" (click)="volver()"  >Volver</button> &nbsp;
                <button type="submit" class="btn btn-success" (click)="editarUsuario()"  >Guardar</button>
            </div>
    
          </div>
      
          
    </div>
   
</form>
   
 
 
