
 <nav class="navbar navbar-default">
    <div class="container-fluid navegacion">
      <div class="navbar-header">
        <a class="navbar-brand">Agrícola Venus</a>
      </div>
      <ul class="nav navbar-nav navegacion" >
        <li class="active"><a href="menu"><img src="..\assets\imagenes\agricola.jpg" alt="" style="height: 50px;"></a></li>
        <li><a href="tablaUsuarios" *ngIf="rol === '1'">Usuarios</a></li>
        <li><a href="TablaCategorias">Categorías</a></li>
        <li><a href="">Productos</a></li>
        <li><a href="TablaEmpleados">Empleados</a></li>
        <li><a href="">Cerrar Sesión</a></li>
      </ul>
    </div>
  </nav> 
  
  


